
group TypeSpec
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget System.Memory
    nuget System.IO.Pipelines
    nuget TypeShape

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.UserInput
    nuget Fake.Api.GitHub
    nuget Fake.DotNet.Paket
    nuget Fake.Tools.Git
    nuget Fake.DotNet.AssemblyInfoFile
      

